/* ==========================================================================
   #CHECKBOXES
   ========================================================================== */
   
//Checbox default
.checkbox {
  display: flex;
  margin-bottom: 20px;

 .checkbox__label {
   position: relative;
   padding-left: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   
   &::before {
     content: '';
     position: absolute;
     display: block;
     top: 0;
     left: 0;
     width: 30px;
     height: 30px;
     border: 4px solid;
     margin-left: -30px;
   }

   &::after {
     content: '';
     display: block;
     width: 10px;
     height: 20px;
     position: absolute;
     margin-left: -37px;
     bottom: 8px;
     transform: rotate(42deg);
     border: solid;
     border-width: 0 3px 3px 0;
     opacity: 0;
    }
  }

  .checkbox__control {
    width: 30px;
    height: 30px;

    &:hover + .checkbox__label {

      &::after {
        opacity: 0.3;
      }
    }

    &:checked + .checkbox__label {

      &::after {
        opacity: 1;
      }
    }
  }


  //Red checkbox
  &-red {

    .checkbox__label {
      
      &::before {
        border: solid $red-primary;
        background-color: lighten($red-primary, 20%);
      }
   
      &::after {
        border: solid $red-primary;
        border-width: 0 3px 3px 0;
      }
    }
  
    &:checked + .checkbox__label {
  
      .checkbox__check {
        border: darken($red-primary, 10%);
      }
  
    }
  }

  //Grey checkbox
  &-grey {

    .checkbox__label {
      
      &::before {
        border: solid $font-color;
        background-color: lighten($font-color, 20%);
      }
   
      &::after {
        border: solid $font-color;
        border-width: 0 3px 3px 0;
      }
    }
  
    &:checked + .checkbox__label {
  
      .checkbox__check {
        border: darken($font-color, 10%);
      }
    }
  }
}

