/* ==========================================================================
   #LIST-BASIC
   ========================================================================== */
.s-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .s-list__item {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 1px solid $grey-border;
    padding: 20px 0;
   
    .item-desc {
      width: 80%;

      h4 {
        color: $red-primary;
        margin-bottom: 10px;
      }
    }

    .item-price {
      position: relative;
      max-width: 50px;
      width: 100%;

      .item-price__value {
        font-size: 25px;
        color: $red-primary;
      }

      .item-price__dolar {
        position: absolute;
        top: 0;
        right: 0;
        color: $red-primary;
      }
    }

    .add-link {
      position: absolute;
      bottom: 20px;
      right: 0;
    }
  }
}

.bought-item {
  width: 100%;
  position: relative;
 
  .item-price {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    right: 0;
  }

  .remove-link {
    
  }
}